body {
    background-color: cornflowerblue;
}

h2{
    color:black;
    font-family:Arial, sans-serif;
}

h1 {
    color: blueviolet;
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

button  {
    background-color: rgb(187, 187, 187);
    border-radius: 5px;
    padding: 7px;
    border: none;
}

button:hover {
    background-color: rgb(87, 87, 87);
}

.bot {
    color: rgb(73, 73, 73);
    font-family:sans-serif;
}